table, td{
	font:100% Arial, Helvetica, sans-serif; 
	overflow-x: hidden;
}
table{width:100%;border-collapse:collapse;margin:1em 0;}
th, td{text-align:left;padding:.3em;border:1px solid #fff;}
th{background:#328aa4 repeat-x;color:#fff;}

tr.even {background:#e5f1f4;}
tr.odd {background:#f8fbfc;}

tr.even:hover{
	background:#4a98af;
	color:#ffffff;
}
tr.odd:hover{
	background:#a6cfe6;
}
tr.even td{
	text-align: right;
	width: 1%;
}
tr.odd td{
	text-align: right;
	width: 1%;
}

td{
	width: 1%;
}
th.over, tr.even th.over, tr.odd th.over{background:#4a98af;}
th.down, tr.even th.down, tr.odd th.down{background:#a6cfe6;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background:#ecfbd4;}
td.down, tr.even td.down, tr.odd td.down{background:#a6cfe6;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background:#a6cfe6;color:#555;}
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}

thead {position:fixed;top:14%}


