    form{
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin: auto;
    width:100%;
    height:115px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    position: relative;
    color: #476683;
    background-color: #F9FBFC;}
    img#gif-loading{
    position:relative;
    left: 1130;
    bottom: 47;
    }
    div.calendario{
    width: 50%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_1{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_2{
    width: 28%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    
    div.hierarquia{
    width: 80%; 
    margin-top: 45px;
    position: absolute;
    }
    div.hierarquia_1{
    width: 16.9%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.hierarquia_2{
    width: 16.9%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.hierarquia_3{
    width: 16.9%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.hierarquia_4{
    width: 16.9%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
   
    div.legenda_quartil{
    height: 10px;
    position: absolute;
    float: left;
    margin-top: 93px;

    }
div#conteudo-carregado{
  display: block;
  margin-left:-5px;
  margin-right:10px;
}


    