@charset "UTF-8";

/** NORMALIZE **/
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{border:0;margin:0;padding:0;outline:0;vertical-align:middle}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav li,nav ul{margin:0;padding:0}nav ul,ul{list-style:none}

/** TIPOGRAFIA **/
@font-face {
  font-family: 'Segoe';
  font-weight: normal;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe SVG';
  font-weight: normal;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.svg') format('svg');
}
@font-face {
  font-family: 'Segoe SVG';
  font-weight: bold;
  src: url('http://172.23.14.155/escola/assets/fonts/segoe/segoeui.svg#bold') format('svg');
}
@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local("Cambria"), local("PT Serif Caption"), local("PTSerif-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

/** CLASSES AUXILIARES **/
.b{
  font-weight: 500;
}

.clear {
  clear: both;
}

.inner {
  margin: 0 auto;
  width: 97%

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fw{
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.capitalized {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.button25 {
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_25.png') no-repeat;
  display: block;
  height: 25px;
  width: 25px;
}

.btn4 {
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_40.png') no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}

.card{
  box-shadow: 0px 1px 10px -1px rgba(0,0,0,.26)
}

/**  GLOBAL  **/
body {
  font-family: RobotoDraft;
  font-size: 0.625em;
}

a{
  color: #062b43;
  text-decoration: none;
}

a:hover{
  color: #2093b5;
  text-decoration: none;
}


h1,
h2{
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.00em;
  line-height: 2rem;
  margin: 10px 0;
  padding: 0;
}




/**  ESTRUTURA BASE  **/
.user-data {
  border-bottom: #2093b5 7px solid;
  font-size: 1.2em;
  height: 35px;
}

.banner{
  background: url('http://172.23.14.155/escola/assets/img/books_.jpg') no-repeat center 16%;
  clear: both;
  height: 10.5em;
  position: relative;
}

.header{
  background: #062b43;
  height: 95px;
  opacity: .85;
  width: 100%;
}

.baseline {
  background: #062b43;
  clear: both;
  height: 7px;
  margin-top: 3px;
  opacity: 0.6;
  width: 100%;
}

.content {
  clear: both;
  height: 50%;
}

.footer {
  clear: both;
  font-size: 1.2em;
  height: 40px;
  padding-top: 20px;
}


/** CLASSES AUXILIARES DA ESTRUTURA **/
.button {
  background-color: #d9d9d9;
  border-radius: 0;
  border: 1px transparent solid;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: auto;
  outline: none;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
}

.button.default {
  background-color: #008287;
  color: #fff;
}

.button:focus {
  border: 1px #353535 dotted;
  outline: 0;
}

.button:disabled,
.button.disabled {
  background-color: #eaeaea !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}

.button.success {
  background-color: #60a917 !important;
  color: #ffffff !important;
}


/**  BARRA DE DADOS DO USUARIO (SUPERIOR) **/
.user-data .user-meta {
  margin: 8px 8px 0 0;
}

.user-data .logout {
  margin: 5px 0 0 0;
}

.user-data .btn-logout {
  background-position: 0px 0px;
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_25.png') no-repeat;
  display: block;
  height: 25px;
  padding-left: 22px;
  width: 25px;
}

.user-data .descr-btn {
  margin: 5px 0 0 0;
}

.user-data .btn-logout:hover {
  background-position: 0px -25px;
  background: url('http://172.23.14.155/escola/assets/img/sprite_buttons_25.png') no-repeat;
  display: block;
  height: 25px;
  width: 25px;
}



/**  CABECALHO **/
.header-logo {
  margin-top: 25px;
}

.header-logo img {
  height: 45px;
}

.header-menu {
  margin-top: 30px;
}

.header-menu ul li {
  margin-right: 5px;
}

.header-breadcrumb {
  color: #fff;
  font-family: 'Segoe', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 150%;
  margin: 40px 15px 0 0;
}

.header-breadcrumb a{
  color: #ffffff;
  text-decoration: none;
}

.header-breadcrumb a:hover{
  text-decoration: none;
  color: #12b4cf;
}

.header-breadcrumb li{
  margin-left: 15px;
}




/**  CONTEUDO  **/

/** HOMEPAGE **/

/** Performance Filas**/
.search-fields{
  height:95px;
  background-color: #eee;
}

.kpi-selector{
  height:80px;
}

.charts{
    height: 600px;
}

.charts .area{
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.charts .area .clear-area{
  width: 100%;
  height: 5%;
  display: inline-block;
}

.charts .main-chart{
  height: 400px;
  width: 96%;
  display: inline-block;
}

.charts .top{
  margin: 1% 2% 2% 4%;
}

.charts .bottom{
  margin: 1.5% 2% 0% 2%;
}

.charts .top-general{
  margin: 0% 1% 1% 1%;
}

.charts .secondary-chart-box{
  height: 350px;
  width: 46%;
  display: inline-block;
}

.charts .secondary-chart-box .chart{
  height: 90%;
  width: 100%;
  display: inline-block;
}


.charts .secondary-chart-box .chart .acum{
  width: 100%;
}


.charts .secondary-chart-box .resultado{
  font-size: 15px;
  line-height: 1em;
  margin-left: 2em;
  margin-bottom: 2em
}

.charts .general-chart{
  height: 38%;
  width: 31%;
  display: inline-block;
}

.kpi-info{
  height: 15%;
}

/**PAPER ELEMENTS**/
paper-tabs.blue::shadow #selectionBar {
  background-color: #039be5;
}

.blue paper-tab::shadow #ink {
  color: #81d4fa;
}

paper-toggle-button.blue::shadow paper-radio-button::shadow #ink[checked] {
  color: #4285f4;
}

paper-toggle-button.blue::shadow paper-radio-button::shadow #onRadio {
  background-color: #0091ea;
}

paper-toggle-button.blue::shadow #toggleBar[checked] {
  background-color: #0091ea;
}

/** DATA TABLE **/
.userlist {
  /*margin: 30px 0 40px 0;*/
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 100%;
}
.userlist .employee-name{
  width: 50%;
}
.userlist .employee-indc{
  width: 12.5%;
}
.userlist .input-control.text .btn-search {
  display: none;
}
.userlist .table.striped tbody tr:nth-child(odd) {
  background: #eeeeee;
}
.userlist .table.bordered {
  border: 1px #eaeaea solid;
  border-left: 0;
}
.userlist .table.bordered td,
.userlist .table.bordered th {
  border-left: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
}
.userlist .table.no-border td,
.userlist .table.no-border th {
  border: 0;
}
.userlist .table.border {
  border: 1px #eaeaea solid !important;
}
.userlist .table.hovered tbody tr:hover {
  background-color: rgba(28,183,236,0.1);
}
.userlist table {
  background-color: #ffffff;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}
.userlist .table {
  width: 100%;
  margin-bottom: 14pt;
}
.userlist .table th,
.userlist .table td {
  border-bottom: 1px #eaeaea solid;
  font-size: 14px;
  line-height: 14pt;
  padding: 8px;
  vertical-align: top;
}
.userlist .table th[class*="span"],
.userlist .table td[class*="span"] {
  display: table-cell !important;
  float: none !important;
  margin: 0;
}
.userlist .table thead th {
  vertical-align: bottom;
}
.userlist .table thead th,
.userlist .table thead td {
  border-bottom: 1px solid #111111;
}
.userlist .table tbody tr:last-child td {
  border-bottom: 0;
}
.userlist .table tbody + tbody {
  border-top: 2px solid #eaeaea;
}
.userlist .table tfoot th,
.userlist .table tfoot td {
  border-top: 1px solid #111111;
}
.userlist .table .table {
  background-color: #bfbfbf;
}
.userlist .dataTable {
  clear: both;
}
.userlist .dataTable thead .sorting_asc,
.userlist .dataTable thead .sorting_desc,
.userlist .dataTable thead .sorting {
  cursor: pointer;
}
.userlist .dataTable thead .sorting_asc:after,
.userlist .dataTable thead .sorting_desc:after,
.userlist .dataTable thead .sorting:after {
  color: #999999;
  float: right;
  font-family: metroSysIcons;
  position: relative;
  right: 0;
}
.userlist .dataTable thead .sorting:after {
  content: "\e011";
}
.userlist .dataTable thead .sorting_asc:after {
  content: "\e010";
}
.userlist .dataTable thead .sorting_desc:after {
  content: "\e012";
}
.userlist .dataTable thead .sorting_asc:after,
.userlist .dataTable thead .sorting_desc:after {
  color: #1d1d1d;
}
.userlist .dataTables_wrapper .dataTables_filter label,
.userlist .dataTables_wrapper .dataTables_length label {
  vertical-align: middle;
}
.userlist .dataTables_wrapper .dataTables_filter input,
.userlist .dataTables_wrapper .dataTables_length input,
.userlist .dataTables_wrapper .dataTables_filter select,
.userlist .dataTables_wrapper .dataTables_length select {
  border: 1px #d9d9d9 solid;
  height: 100%;
  padding: 5px;
  position: relative;
  width: auto;
  z-index: 1;
}
.userlist .dataTables_wrapper .dataTables_filter input:focus,
.userlist .dataTables_wrapper .dataTables_length input:focus,
.userlist .dataTables_wrapper .dataTables_filter select:focus,
.userlist .dataTables_wrapper .dataTables_length select:focus {
  border-color: #919191;
  outline: 0;
}
.userlist .dataTables_wrapper .dataTables_length {
  float: left;
  margin-bottom: 20px;
}
.userlist .dataTables_wrapper .dataTables_length select {
  margin: 0 5px;
}
.userlist .dataTables_wrapper .dataTables_filter {
  float: right;
}
.userlist .dataTables_wrapper .dataTables_filter input {
  margin-left: 5px;
}
.userlist .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #d9d9d9;
  border-radius: 0;
  border: 1px transparent solid;
  color: #222222;
  color: inherit;
  cursor: pointer;
  display: block;
  display: inline-block;
  float: left;
  line-height: 16px;
  margin-right: 1px;
  margin: auto;
  outline: none;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.default {
  background-color: #008287;
  color: #fff;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  border: 1px #353535 dotted;
  outline: 0;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button:disabled,
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #eaeaea !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button * {
  color: inherit;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button *:hover {
  color: inherit;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.primary {
  background-color: #16499a !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.info {
  background-color: #4390df !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.success {
  background-color: #60a917 !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.warning {
  background-color: #fa6800 !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.danger {
  background-color: #9a1616 !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.inverse {
  background-color: #1d1d1d !important;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.link {
  background-color: transparent !important;
  color: #2e92cf !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.link:hover {
  text-decoration: underline;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.link:disabled,
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.link.disabled {
  background-color: transparent !important;
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.link [class*="icon-"] {
  text-decoration: none !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #1d1d1d !important;
  border-color: transparent;
  color: #ffffff !important;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.large {
  font-size: 17.5px;
  padding: 11px 19px;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.small {
  font-size: 11.9px;
  padding: 2px 10px;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.mini {
  font-size: 10.5px;
  padding: 0px 6px;
}
.userlist .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #4390df;
  color: #ffffff;
}
.userlist .dataTables_wrapper .dataTables_info {
  float: left;
}
.userlist .dataTables_wrapper .dataTables_scrollHeadInner table {
  margin: 0 !important;
}
.userlist .dataTables_wrapper .dataTables_processing {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 3px 8px rgba(0,0,0,0.2);
  font-size: 1.2rem;
  left: 50%;
  margin-left: -100px;
  margin-top: -2em;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}
.userlist .dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.userlist .dataTables_wrapper:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
@font-face {
  font-family: 'metroSysIcons';
  src: url('http://172.23.14.155/escola/assets/fonts/metro/metroSysIcons.woff') format('woff'), url('http://172.23.14.155/escola/assets/fonts/metro/metroSysIcons.ttf') format('truetype'), url('http://172.23.14.155/escola/assets/fonts/metro/metroSysIcons.svg#metroSysIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

select, input[type="text"], input[type="date"], input[type="datetime-local"], input[type="number"], input[type="month"], input[type="time"], input[type="week"] {
align-items: center;
display: -webkit-inline-flex;
overflow: hidden;
padding: 0px;
width:151px;
height:22px;
font-size: 12px;
}

    form{
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin: auto;
    width:100%;
    height:115px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    position: relative;
    color: #476683;
    background-color: #F9FBFC;}
    img#gif-loading{
    position:relative;
    left: 1130;
    bottom: 47;
    }
    div.calendario{
    width: 50%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_1{
    width: 27.7%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    div.calendario_2{
    width: 27.7%; 
    margin-top: 1px;
    float: left;
    position: relative;
    }
    
    div.hierarquia{
    width: 80%; 
    margin-top: 45px;
    position: absolute;
    }
  
   label-container {
                    margin: 5px 0;
                }

                span[id^="combo"] {
                    /*margin-right: 15px;*/
                }

                #state, #stateCascading {
                    display: none;
                }

                .group-container {
                    padding: 0px;
                    margin-bottom: 0px;
                    clear: both;

                }

                .group-title {
                    font-weight: bold;
                }

                .comboGroup {
                    float: left;
                    padding-right: 15px;
                }

                .overHidden {
                    overflow: hidden;
                }

    div.legenda_quartil{
    height: 10px;
    position: absolute;
    float: left;
    margin-top: 93px;

    }

