* {
	font-family: calibri;
}
table {
	box-shadow: 1px 1px 5px #888888;

}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;

	}
.tg td {
	font-family:Calibri, Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#333;
	background-color:#fff;
	}
.tg th {
	font-family:Calibri, Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#ccc;
	color:#333;
	color:#fff;
	background-color:#f0f0f0;
	background-color: #015792;
	}
.tg .tg-4eph {
	background-color:#f9f9f9;
	}
.tg .tg-5eph {
	background-color:#e0e0e0;
	}
#cantoEsquerdo {
	border-top-left-radius: 05px;
}				
#principal_cima {
	position: fixed;
	width: 1150px;
	height: 35px;
	/*background-color: #f4f9fb;*/
	left: 100px;
	top: 90px;
	/*overflow: auto;*/
}				
#principal_centro_cabecalho {
	position: fixed;
	width: 1150px;
	height: 450px;
	/*background-color: #f4f9fb;*/
	left: 100px;
	top: 150px;
	overflow: auto;
	/*border: 1px solid silver;*/
	padding: 5px;
}			
#principal_centro {
	position: fixed;
	width: 1150px;
	height: 350px;
	/*background-color: #f4f9fb;*/
	left: 100px;
	top: 190px;
	overflow: auto;
	/*border: 1px solid silver;*/
	padding: 5px;
}
#marcador_lateral {
	font-family:Calibri;
	position: fixed;
	width: 35px;
	height: 35px;
	background-color: #e7ec96; /*yellow*/
	background-color: #f4917f;
	left: -3px;
	top: 150px;
	font-weight: bolder;
	font-size: 20px;
	color: white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 0px;
	padding-left: 12px;
	padding-top: 10px;
	box-shadow: 1px 1px 5px #888888;
	border: 2px solid white;
}
#chx {
	text-align: center;
}
#chx_fechado {
	text-align: center;
	text-decoration: line-through;
}
li.cima {
	display: inline;
	padding: 4px;
	margin: 0px;
	margin-right: 3px;
	font-size: 14px;
	border: 1px solid silver;
}
H1.principal {
	margin-left: 20px;
	margin-top: 20px;

}
input.atv {
	width: 95%;
	border-radius: 4px;
	border-style: none;
}
textarea.atv {
	width: 95%;
	height: 25px;
	border-radius: 4px;
	border-style: none;				
}
.calendario_meta{
	margin-left: 8.3%;
	margin-top: 4.5%;
	font-family: Calibri, Arial, sans-serif;
	font-size: 14px;
}
.npc_meta{
	position: absolute;
	margin-top: -2.8%;
	margin-left: 22%;
}

.indicador_meta{
position: absolute;
margin-top: -2.8%;
margin-left: 35.8%;
}