/*
#########################################################################
-------------------------------------------------------------------------
WEM: /static-files/css/portlets-builder.css
-------------------------------------------------------------------------
SVN: \EXT-012754-00004 - Portonet-Vignette\Gestión del Proyecto\03-Organización\Arquitetura - everis\Arquitetura-Desenvolvimento\Manual de Implantação de CSS em builder  v1.0.doc
-------------------------------------------------------------------------
 Copyright (c) 2011 EVERIS - PORTO SEGURO
 This software is the proprietary information of EVERIS - PORTO SEGURO
 All Right Reserved.
-------------------------------------------------------------------------
Detail Information:
Versão    : $ 1.0 $
Autor     : $ Jhonatas S. Lima $
Descrição : Implementação de CSS em builders
-------------------------------------------------------------------------
#########################################################################
*/	

body {color: #656565 !important;}
																						
.epi-formTable .epi-dataTable,
.epi-dataTable,
.wsui-table,
.portlet-table-body
{margin-bottom:5px;
border-bottom: solid 1px #ffffff;
border-left: solid 1px #ffffff;
border-right: solid 0px #ffffff;}	
													
.epi-dataTable TH,
.wsui-table TH,
.portlet-table-header TH,
.portlet-table-header TD
{color: #000000 !important;
background-color: #b1cfe9;
border-top: solid 1px #ffffff;
border-right: solid 1px #ffffff;
padding: .5em;
font-weight:bold !important;}	
														
.epi-dataTable TH a,
.wsui-table TH a,
.portlet-table-header a
{color: #000000 !important;
text-decoration: none;}																										
				
.epi-dataTable TH.epi-rowHeadSorted,
.epi-dataTable TH.epi-rowHeadSorted a
{color: #ffffff !important;
background-color: #b1cfe9;
text-decoration: none;}																					
		
.epi-formTable .epi-dataTable TD,
.epi-dataTable TD,
.wsui-table TD,
.portlet-table-body TD
{border-top: solid 1px #ffffff;
border-right: solid 1px #ffffff;
padding-top: .3em;
padding-bottom: .3em;
padding-left: .5em;
padding-right: .5em;
}

.epi-dataTable .epi-padRight
{padding-right: 2em;}

.epi-dataTableLite
{border-bottom: solid 0px #ffffff;
border-left: solid 0px #ffffff;
border-right: solid 0px #ffffff;}

.epi-dataTableLite TH
{color: #000000;
background-color: #f3f3f3;
border-top: solid 1px #ffffff;
border-right: solid 0px #ffffff;
padding: .5em;}
							
.epi-dataTableLite TH a
{color: #000000 !important;
text-decoration: none;}	
							
.epi-dataTableLite TD
{border-top: solid 1px #dddddd;
border-right: solid 0px #dddddd;
padding-top: .3em;
padding-bottom: .3em;
padding-left: .5em;
padding-right: .5em;}

.epi-dataTableLite .epi-padRight
{padding-right: 2em;}
		
.epi-dataTable .epi-embeddedTable TD,
.epi-dataTableLite .epi-embeddedTable TD,
.epi-dataTree .epi-embeddedTable TD
{border: 0px;
padding: 0px;}

.epi-rowOdd,
.wsui-table-row-odd,
.portlet-table-body	
{background-color: #fafafa; color: #656565;}

.epi-rowEven,
.wsui-table-row-even,
.portlet-table-alternate
{background-color: #efefef; color: #656565;}

.epi-input{background:url("padrao/images/bg_input_form.jpg") repeat-x scroll center top #FFFFFF;}

.epi-formLabel{padding:5px;}

.epi-button{
	background:url("padrao/images/bc_botao_100px.gif") no-repeat scroll 0 0 transparent !important;
	color: #FFFFFF !important;
    font-weight: bold;
    height: 28px !important;
    padding: 0 0 4px !important;
	font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 11px;
	border: medium none !important;
	 width: 100px;
	 cursor:pointer;}
	 
	 
td.epi-formLabel{background-color: #B1CFE9;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #000000 !important;
    padding: 0.5em;}

.epi-font{margin-left:5px;}

.epi-dimSm{font-weight:bold;}

.epi-ok span{
	background: url("padrao/images/ok.png") no-repeat scroll left center transparent;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
	}

td.epi-ok{
	padding:10px;
	}
	



